[Unit]
Description=ZKill-WWW

[Service]
ExecStart=/usr/bin/node ./bin/www.js
Restart=always
User=zkill
Group=zkill
Environment=PATH=/usr/bin:/usr/local/bin
EnvironmentFile=/home/zkill/zkilljs/.env
WorkingDirectory=/home/zkill/zkilljs

[Install]
WantedBy=multi-user.target
