doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title= json.title
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous")
        link(rel='stylesheet' href='/css/cyborg.css')

        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css')
        link(rel='stylesheet' href='/css/spinner.css?v=' + server_started)
        link(rel='stylesheet' href='/css/z.css?v=' + server_started)

    body
        div.wrapper.container-fluid
            div#content
                nav#toptoptop.navbar.navbar-expand-lg.m-0.p-0
                    a.navbar-brand.override(href='/label/all')
                        img.d-inline-block(src="/img/zkill.png" width="30" height="30" alt="zKillboard wreck icon")
                        span.d-none.d-md-inline-block.text-dark &nbsp;zKillboard (alpha)
                    ul.navbar-nav.mr-auto
                    ul.navbar-nav
                        li#mails_parsed.pr-3.pl-3
                    ul.navbar-nav
                        li.btn-group
                    ul.navbar-nav
                        li.navbar-item
                            a.nav-link(href='#' onclick='return toggleZTop();')
                                i.bi.bi-server.navbar-item
                    ul.navbar-nav
                        form.form-inline(onsubmit='return false;')
                            input#autocomplete.form-control(type='Search' placeholder='Quick Search' aria-label='Quick Search')
                hr
                div.row
                    div.col-12#ztop
                div#overview.collapse.container-fluid
                    div.d-flex.p-0.m-0
                        div#overview-information.p-0.m-0
                        div.m-auto
                        div#overview-statistics.p-0.m-0
                            include stats-box.pug
                    div.row#overview-filters.mb-2
                        div.col-12
                            include filters.pug
                    div.row.d-flex
                        div.col-xs-12.col-md-9
                            div#actual-topisk.d-none.d-md-block
                            div#overview-killmails
                                hr
                                h4
                                    | Killmails
                                    button#feedbutton.btn.btn-small.btn-primary.m-0.ml-3.p-0(type='button')
                                        i#feedactive.bi.bi-play-fill
                                        i#feedinactive.bi.bi-pause-fill
                                        span.d-none.d-lg-inline-block Feed
                                div#killlist
                        div.col-xs-12.col-md-3
                            div#overview-toptens
                    div.m-5
                div#killmail.collapse
                div#other.row.collapse
        div.clearfix.push
        div#footer
            footer.footer
                small
                    center
                        | Brought to you by 
                        a.override(href='/character/1633218082') Squizz Caphinator
                        span.d-block.d-sm-none xs
                        span.d-none.d-sm-block.d-md-none sm
                        span.d-none.d-md-block.d-lg-none md
                        span.d-none.d-lg-block.d-xl-none lg
                        span.d-none.d-xl-block xl
                    center(data-toggle='tooltip' style='cursor: pointer; text-decoration: underline' title='EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide. All other trademarks are the property of their respective owners. EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of CCP hf. CCP hf. has granted permission to evewho.com to use EVE Online and all associated logos and designs for promotional and information purposes on its website but does not endorse, and is not in any way affiliated with, evewho.com. CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for any damage arising from the use of this website.')  All Eve Related Materials are Property of CCP Games
div#noactivity.collapse
    i.bi.bi-slash-circle
    i.bi.bi-filter
    i No activity found with current filter(s).
div.collapse
    div#spinner
        div.lds-ring
            div
            div
            div
            div
div#loading-zone
script
    | var start_time = Date.now()
//-script(defer src='https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js')

script(defer src='/js/jquery-3.4.1.min.js')
script(defer src='/js/jquery.autocomplete-v1.4.11.min.js')

script(defer src='/js/popper-1.14.7.min.js')
//-script(defer src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
script(defer src='/js/bootstrap-4.3.1.min.js')
script(defer src='/js/history-4.10.1.js')
script(defer src='/js/reconnecting-websocket.js')
script(defer data-server_start=server_started src='/js/z.js?v=' + server_started)
