doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title= title
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous")
        link(rel='stylesheet' href='/css/cyborg.css')

        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css')
        link(rel='stylesheet' href='/css/spinner.css?v=' + server_started)
        link(rel='stylesheet' href='/css/z.css?v=' + server_started)

    body#body(style='display: none;')
        div#top_container.wrapper.container-fluid
            div#content
                nav#toptoptop.navbar.navbar-expand-lg.m-0.p-0
                    a.navbar-brand.override(href='/label/pvp')
                        img.d-inline-block(src="/img/zkill.png" width="30" height="30" alt="zKillboard wreck icon")
                        span.d-none.d-md-inline-block.text-dark &nbsp;zKillboard (alpha)
                    ul.navbar-nav.mr-auto
                    ul.navbar-nav
                        li#mails_parsed.pr-3.pl-3
                    ul.navbar-nav
                        li.btn-group
                    ul.navbar-nav
                        li.navbar-item
                            a.nav-link(href='#' onclick='return toggleZTop();')
                                i.bi.bi-server.navbar-item
                    ul.navbar-nav
                        form.form-inline(onsubmit='return false;')
                            input#autocomplete.form-control(type='Search' placeholder='Quick Search' aria-label='Quick Search')
                hr
                div.row
                    div.col-12#ztop
                div#overview.collapse.container-fluid
                    div.d-flex.flex-nowrap.p-0.m-0
                        div#overview-information.p-0.m-0
                        div.m-auto
                        div#overview-statistics.p-0.m-0
                            include stats-box.pug
                    div.row#overview-filters.mb-5
                        div.col-12.mb-2
                            include filters.pug
                    hr.thin
                    div.row.d-flex
                        div.col-xs-12.col-md-8.pr-3
                            div.d-flex
                                div.btn-group.btn-group-sm.mr-2
                                    button.pagefilter.btn.btn-primary(type='button' radio='pagenum') 1
                                    button.pagefilter.btn.btn-secondary(type='button' radio='pagenum') 2
                                    button.pagefilter.btn.btn-secondary(type='button' radio='pagenum') 3
                                    button.pagefilter.btn.btn-secondary(type='button' radio='pagenum') 4
                                    button.pagefilter.btn.btn-secondary(type='button' radio='pagenum') 5
                                    button.pagefilter.btn.btn-secondary(type='button' radio='pagenum') 6
                                    button.pagefilter.btn.btn-secondary(type='button' radio='pagenum') 7
                                    button.pagefilter.btn.btn-secondary(type='button' radio='pagenum') 8
                                    button.pagefilter.btn.btn-secondary(type='button' radio='pagenum') 9
                                    button.pagefilter.btn.btn-secondary(type='button' radio='pagenum') 10
                            hr.thin.mt-1
                            div#killlist
                        div.col-xs-12.col-md-4
                            div.d-flex
                                div.m-auto
                                div.btn-group.btn-group-sm
                                    button#stats-epoch-week.tfilter.stats-epoch.btn.btn-secondary(value='hours-01' radio='epoch')
                                        i.bi.bi-hourglass-top
                                    button#stats-epoch-week.tfilter.stats-epoch.btn.btn-secondary(value='hours-24' radio='epoch')
                                        i.bi.bi-hourglass-bottom
                                    button#stats-epoch-week.tfilter.stats-epoch.btn.btn-primary(value='week' radio='epoch') 7
                                    button#stats-epoch-recent.tfilter.stats-epoch.btn.btn-secondary(value='current-month' radio='epoch')
                                        i.bi.bi-calendar3
                                    button#stats-epoch-recent.tfilter.stats-epoch.btn.btn-secondary(value='recent' radio='epoch') 90
                                    button#stats-epoch-recent.stats-epoch.tfilter.btn.btn-secondary(value='prior-month' radio='epoch')
                                        i.bi.bi-calendar-minus
                                    button#stats-epoch-recent.stats-epoch.tfilter.btn.btn-secondary(value='custom-range'  radio='epoch' disabled)
                                        i.bi.bi-clock
                                    button#stats-epoch-alltime.stats-epoch.tfilter.btn.btn-secondary(value='alltime' radio='epoch') ∞
                            hr.thin.mt-1
                            div#overview-toptens
                    div.m-5
                div#killmail.collapse
                div#other.row.collapse
        div.clearfix.push
        div#footer
            footer.footer
                small
                    center
                        | Brought to you by 
                        a.override(href='/character/1633218082') Squizz Caphinator
                        span.d-block.d-sm-none xs
                        span.d-none.d-sm-block.d-md-none sm
                        span.d-none.d-md-block.d-lg-none md
                        span.d-none.d-lg-block.d-xl-none lg
                        span.d-none.d-xl-block xl
                    center(data-toggle='tooltip' style='cursor: pointer; text-decoration: underline' title='EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide. All other trademarks are the property of their respective owners. EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of CCP hf. CCP hf. has granted permission to evewho.com to use EVE Online and all associated logos and designs for promotional and information purposes on its website but does not endorse, and is not in any way affiliated with, evewho.com. CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for any damage arising from the use of this website.')  All Eve Related Materials are Property of CCP Games
div#noactivity.collapse
    i.bi.bi-slash-circle
    i.bi.bi-filter
    i No activity found with current filter(s).
div.collapse
    div#spinner
        div.lds-ring
            div
            div
            div
            div
div#loading-zone

script(defer src="/js/adblockDetector.min.js")

script(defer src='/js/jquery-3.4.1.min.js')
script(defer src='/js/jquery.autocomplete-v1.4.11.min.js')

script(defer src='/js/popper-1.14.7.min.js')
script(defer src='/js/bootstrap-4.3.1.min.js')
script(defer src='/js/history-4.10.1.js')
script(defer src='/js/reconnecting-websocket.js')
script(defer data-server_start=server_started src='/js/z.js?v=' + server_started)
script
    = 'const server_started= ' + server_started + ';'
    = "const websocket_url= '" + env.websocket_url + "';"

script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-FE4T2DCTQR')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-FE4T2DCTQR');