include mixins.pug

h1.d-none#page-title= page_title
ul#info-box
	+show_image('li', type, id, name, 128)

	li
		table#info-table.table.table-borderless.table-hover.table-sm.w-100
			-var founded = (founded == undefined ? '' : ('' + date_founded).replace('T', ' ').replace('Z', ''))
			+info_row_a('Label:', 'label', label_id, label_id, 'uppercase') 
			+info_row_a('Character:', 'character', character_id, character_name)
			+info_row_a('Corporation:', 'corporation', corporation_id, corporation_name)
			+info_row_a('Alliance:', 'alliance', alliance_id, alliance_name)
			+info_row_a('Faction:', 'faction', faction_id, faction_name)
			+info_row('Ticker:', ticker)
			+info_row_a('Item:', 'item', item_id, item_name)
			+info_row_a('Group:', 'group', group_id, group_name)
			if inactive == false
				+info_row('Members:', member_count, 'integer')
			+info_row('Founded:', founded)
			+info_row_a('Location: ', 'location', location_id, location_name)
			+info_row_a('System:', 'system', solar_system_id, solar_system_name)
			+info_row_a('Constellation:', 'constellation', constellation_id, constellation_name)
			+info_row_a('Region:', 'region', region_id, region_name)
			+info_row('Security:', security_status, 'decimal')
			if inactive == true
				td Inactive:
				td
					| Information may be out of date.
					br
					| Not present on any killmail in last 90 days.
			fi
