* {
    margin: 0;
}

html,
body {
    height: 100%;
}

html {
    overflow-y: scroll;
}

body {
    zoom: 90%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
    /* the bottom margin is the negative value of the footer's height */
}

.footer,
.push {
    height: 50px;
    /* .push must be the same height as .footer */
}

.tiny {
    font-size: 1%;
}

img.image {
    background-color: #111;
    margin-top: 5px;
}

.killrowblock {
    display: inline;
    float: left;
}

div.killrow ul {
    display: inline;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    margin: 0px;
}

div.killrow ul li {
    list-style: none;
    margin: 0px;
}

div.killrow ul.info1 {
    width: 6em;
}

div.killrow ul.info2 {
    width: 6em;
}

div.killrow ul.victim,
div.killrow ul.finalblow {
    width: 14em;
}

div.killrow ul.image {
    width: 70px;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
    text-transform: capitalize;
    font-weight: bold;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

/* invert filter based dark mode */
body.dark {
    background-color: black;
    filter: invert(1);
}

body.dark img,
body.dark iframe {
    filter: invert(1);
}

.eveimage {
    background-color: #222;
}


div#overview-information ul {
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    margin: 0px;
}

div#overview-information ul li {
    float: left;
    list-style: none;
    margin: 0px;
}

.item_destroyed,
.red {
    color: red;
}

.green {
    color: green;
}

.victimrow {
    background-color: #2F0202;
}

.aggressorrow {
    background-color: #001600;
}

/* https://stackoverflow.com/questions/41747667/bootstrap-4-responsive-tables-wont-take-up-100-width */
.table-responsive {
    display: table;
}

#stats-table td,
#stats-table th {
    text-align: right;
    width: 6rem;
    min-width: 6rem;
}


#overview-information,
#overview-statistics {
    min-width: 500px;
    min-height: 150px;
}

.label {
    margin: 0px;
    padding: 0px;
    font-size: 80%;
}

.nostats {
    text-decoration: line-through;
}

.uppercase {
    text-transform: uppercase;
}

.tright {
    text-align: right;
}

/* Killmail detail page */
#killmail {
/*    width: 100%;
    max-width: 1400px;*/
}

.leftkillblockcontainer {
    max-width: 1100px;
}

.killblock {
    margin: 0.5em;
    padding: 0em;
    max-width: 100vw;
}


##killmail-fitting, #killmail-fitting-wheel {
}  

.killblock1 {
    width: 650px;
}

.killblock2 {
    width: 400px;
}

.killblock3 {
    width: 700px;
}

.killblock4 {
    width: 400px;
}

#victim-images ul,
.attackers-list ul, #killmail-cargo {
    display: inline;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    margin: 0px;
}


#victim-images ul li {
    list-style: none;
    margin: 5px;
}

.attackers-list ul li {
    list-style: none;
    margin: 1px;
}

#victim-images ul li {
    float: left;
    margin: 5px;
}


/* Compress the attackers list */
div.attacker ul {
    padding: 0px;
    margin: 0px;
}

#attacker3 {
    padding-left: 2px;
    width: 248px;
}


.right {
    float: right;
}


hr {
    border: none;
    height: 1px;
    background-color: #333;
    /* Modern Browsers */
    padding: 0px;
    margin-top: 0px;
}

.page_title {
    display: none;
}

.autocomplete-suggestions { border: 1px solid #ccc; background: #000; overflow: auto; cursor: default;}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; cursor: pointer; }
.autocomplete-selected { background: #030303; }
.autocomplete-suggestions strong { font-weight: normal; color: white; }
.autocomplete-group { padding: 2px 5px; text-transform: capitalize; font-weight: bold; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #fff; }
