* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

html {
    overflow-y: scroll;
}

body {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    font-size:  0.75em;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
    /* the bottom margin is the negative value of the footer's height */
}

.footer,
.push {
    height: 50px;
    /* .push must be the same height as .footer */
}


div, .container-fluid, .row, .col {
    margin: 0px !important;
    padding: 0px !important;
}

.tiny {
    font-size: 1%;
}

img.image {
    background-color: #111;
    margin-top: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow:  hidden;
}

#info-box li {
    float: left;
}

#info-table tbody tr td:nth-child(1) {
    width: 7.5em;
}

.killrow {
    border-top: solid 1px #222;
}

.killrowblock {
    display: inline;
    float: left;
}

div.killrow ul {
    display: inline;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    margin: 0px;
}

div.killrow ul li {
    list-style: none;
    margin: 0px;
}

div.killrow ul.info1 {
    width: 6em;
}

div.killrow ul.info2 {
    max-width:  100vw
}

div.killrow ul.victim,
div.killrow ul.finalblow {
    max-width:  18em;
}

div.killrow ul.image {
    width: 70px;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
    text-transform: capitalize;
    font-weight: bold;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

/* invert filter based dark mode */
body.dark {
    background-color: black;
    filter: invert(1);
}

body.dark img,
body.dark iframe {
    filter: invert(1);
}

.eveimage {
    background-color: #222;
}


div#overview-information ul {
    white-space: nowrap;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

div#overview-information ul li {
    white-space: nowrap;
    overflow: hidden;
    list-style: none;
    margin: 0px;
    border:  solic 1px red;
}

.item_destroyed,
.red {
    color: red;
}

.green {
    color: green;
}

.bg-green {
    background-color: #007800;
}

.bg-red {
    background-color: #A90707;
}

.victimrow {
    background-color: #2F0202;
}

.aggressorrow {
    background-color: #001600;
}

.aggressor, .victim {
    display:  none;
}

.aggressorrow .aggressor {
    display: inline;
}

.victimrow .victim {
    display: inline;
}

/* https://stackoverflow.com/questions/41747667/bootstrap-4-responsive-tables-wont-take-up-100-width */
/*.table-responsive {
    display: table;
}*/

#stats-table td,
#stats-table th {
    text-align: right;
}

#stats-table tr:first-child th {
    border-top:  none;
}

.w-integer {
    width: 7em;
    min-width: 7em;
}

.w-isk {
    width: 5em;
    min-width: 5em;
}

.w-decimal {
    width: 5em;
    min-width: 5em;
}

#overview-information,
#overview-statistics {
    min-height:  135px;
}

.info_row td {
    white-space: nowrap;
    overflow: hidden;
    max-width: 24em;
}

.label {
    margin: 0px;
    padding: 0px;
    font-size: 80%;
}

.nostats {
    text-decoration: line-through;
}

.uppercase {
    text-transform: uppercase;
}

.tright {
    text-align: right;
}

/* Killmail detail page */
#killmail {
    width: 100%;
    max-width: 1400px;
}

.leftkillblockcontainer {
    max-width: 1100px;
    display: inline-block;
    float: left;
}

.rightkillblockcontainer {
    display: inline-block;
    float: left;
}

.killblock {
    margin: 0.5em;
    padding: 0em;
    max-width: 100vw;
    max-height: 100vw;
}

#victim-images ul,
.attackers-list ul, #killmail-cargo {
    display: inline;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    margin: 0px;
}

.cargoimage {
    width: 32px;
    max-width: 32px !important;
}

.cargoamount, .cargoprice {
    width: 8em !important;
}

.cargoprice {
    width: 15em !important;
}


#victim-images ul li {
    list-style: none;
    margin: 0px !important;
    padding: 3px !important;
}

.attackers-list ul li {
    list-style: none;
    margin: 1px;
}

#victim-images ul li {
    float: left;
    margin: 5px;
}


/* Compress the attackers list */
div.attacker ul {
    padding: 0px;
    margin: 0px;
}

#attacker3 {
    padding-left: 2px;
    width: 248px;
}

#attacker4 {
    float: right;
    text-align: right;
}


.right {
    float: right;
}


hr {
    border: none;
    height: 0.2em;
    background-color: #333;
    /* Modern Browsers */
    padding: 0px;
    margin: 0px;
    margin-bottom: 2px;
}

.page_title {
    display: none;
}


#overview-weekly {
}

.top10block table, .topiskblock table {
    min-width: 200px;
    width:  200px;
    max-width:  200px;
    table-layout: fixed;
    overflow:  hidden;
}

.topiskblock table {
    border:  solic 1px red;
    min-width:  10em !important;
    width:  10em;
    max-width:  10em;
}

#actual-topisk {
    min-height:  22em; /* Keep the page from bouncing up and down a bit */
}

.topiskblock table tbody tr td {
    padding: 0px;
}

.top10title {
    text-transform: capitalize;
}

.top10name {
    white-space: nowrap;
    overflow: hidden;
}

.top10count {
    width: 5em;
}

.autocomplete-suggestions { border: 1px solid #ccc; background: #000; overflow: auto; cursor: default;}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; cursor: pointer; }
.autocomplete-selected { background: #007800; }
.autocomplete-suggestions strong { font-weight: normal; color: white; }
.autocomplete-group { padding: 2px 5px; text-transform: capitalize; font-weight: bold; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #fff; }

.progress .bar, .progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.ztop-box {
    min-width: 200px;
    width: 250px !important;
    display: inline-block;
    margin:  1em;
}

.group-toggle[aria-expanded='true']::after {
  content: "-";
}
.group-toggle[aria-expanded='false']::after {
  content: "+";
}

.group-toggle-full[aria-expanded='true']::after {
  content: "- Collapse All";
}
.group-toggle-full[aria-expanded='false']::after {
  content: "+ Expand All";
}

/* Display or hide the play/pause feed buttons depending on the feed button having the class btn-primary */
#feedbutton.btn-primary #feedinactive {
    display: none;
}

#feedbutton:not(.btn-primary) #feedactive {
    display: none;
}

.sec0::after {
    content:  " (0.0)";
    color: #F30202;
}

.sec1::after {
    content:  " (0.1)";
     color: #DC3201;
}

.sec2::after {
    content:  " (0.2)";
     color: #EB4903;
}
.sec3::after {
    content:  " (0.3)";
     color: #F66301;
}
.sec4::after {
    content:  " (0.4)";
     color: #E58000;
}
.sec5::after {
    content:  " (0.5)";
     color: #F5F501;
}
.sec6::after {
    content:  " (0.6)";
     color: #96F933;
}
.sec7::after {
    content:  " (0.7)";
     color: #00FF00;
}
.sec8::after {
    content:  " (0.8)";
     color: #02F34B;
}
.sec9::after {
    content:  " (0.9)";
     color: #4BF3C3;
}
.sec10::after {
    content:  " (1.0)";
     color: #33F9F9;
}